{% extends 'base.html' %}
{% from "macros.html" import flask_flashes with context %}

{% block title %}XSS Demo{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 justify-content-center text-center">
            <h2>XSS</h2>
        </div>
        <div class="row mt-2 justify-content-center text-center">
            <div class="col-6-lg">
                <div>
                    {{ flask_flashes() }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}